# 忽略 Python 编译文件
__pycache__/
*.py[cod]
*$py.class

# 忽略环境文件
env/
venv/
ENV/
ENV.bak/
venv.bak/

# 忽略 IDE 文件
.idea/
.vscode/
*.swp

# 忽略日志文件
*.log

# 忽略 Docker 文件
docker/
docker-compose.override.yml

# 忽略操作系统文件
.DS_Store
Thumbs.db

# 忽略根目录下的entrypoint
/usr/bin/entrypoint

#other
*data
*model
*embeddings